{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ChaBug安全 - 一个分享知识、结识伙伴、资源共享的博客。</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
{#导航#}
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#navbar">
            <span class="sr-only">切换导航</span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'home' %}">ChaBug安全</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="{% url 'home' %}">
                    <span class="glyphicon glyphicon-home"></span> 首页
                </a>
            </li>
            <li>
                <a href="{% url 'blog' %}">
                    <span class="glyphicon glyphicon-pencil"></span> 博客
                </a>
            </li>
        </ul>
    </div>
</div>
{#header头#}
<div class="header-banner">
    <div class="container">
        <h1>ChaBug</h1>
        <p>一个分享知识、结识伙伴、资源共享的博客。</p>
    </div>
</div>


<div class="container">
    <div class="row">
        {#公告 TODO 公告细节完善#}
        <div class="col-sm-4">
            <h3 class="title">公告</h3>
            <ul class="list">
                <li>ChaBug官网改版</li>
                <li>ChaBug官网改版</li>
            </ul>
        </div>

        {#tab页#}
        {# TODO 趋势及阅读量 #}
        <div class="col-sm-8">
            <h4>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#weixin" data-toggle="tab">微信公众号</a></li>
                    <li><a href="#other" data-toggle="tab">其他</a></li>
                </ul>
            </h4>
            <div class="tab-content">
                <div class="tab-pane active " id="weixin">
                        <p><img src="{% static 'img/weixin.jpg' %}" alt="微信公众号"></p>
                </div>
                <div class="tab-pane" id="other">
                        <p>其他</p>
                </div>
            </div>
        </div>
    </div>
</div>

{#文章列表计数#}
<div class="container">
    <h4 class="tab-title">
        <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
        <span>我们已经有<b>{{ count }}</b>篇文章了</span>
    </h4>
</div>

{#文章列表 TODO 更新、热门完善#}
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3 class="title">最近更新</h3>
            <ul class="post-list">
                <li>ChaBug第一篇文章</li>
                <li>ChaBug第一篇文章</li>
                <li>ChaBug第一篇文章</li>
                <li>ChaBug第一篇文章</li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h3 class="title">一周热门</h3>
            <ul class="post-list">
                <li>ChaBug第一篇文章</li>
                <li>ChaBug第一篇文章</li>
                <li>ChaBug第一篇文章</li>
                <li>ChaBug第一篇文章</li>
            </ul>
        </div>
        <div class="col-sm-4">
            <h3 class="title">一月热门</h3>
            <ul class="post-list">
                <li>ChaBug第一篇文章</li>
                <li>ChaBug第一篇文章</li>
                <li>ChaBug第一篇文章</li>
                <li>ChaBug第一篇文章</li>
            </ul>
        </div>
    </div>
</div>

{#团队成员 TODO 代码实现 #}
<div class="container">
    <h4 class="tab-title">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <span>我们的小伙伴</span>
    </h4>
    <div class="row">
        <div class="col-xs-4">
            <div class="member">
                <img src="https://q1.qlogo.cn/g?b=qq&nk=45418382&s=100" alt="">
                <h3>Y4er</h3>
                <p class="introduction">
                    文能吹牛比，武能喝啤酒。
                </p>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="member">
                <img src="https://q1.qlogo.cn/g?b=qq&nk=45418382&s=100" alt="">
                <h3>Y4er</h3>
                <p class="introduction">
                    文能吹牛比，武能喝啤酒。
                </p>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="member">
                <img src="https://q1.qlogo.cn/g?b=qq&nk=45418382&s=100" alt="">
                <h3>Y4er</h3>
                <p class="introduction">
                    文能吹牛比，武能喝啤酒。
                </p>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="member">
                <img src="https://q1.qlogo.cn/g?b=qq&nk=45418382&s=100" alt="">
                <h3>Y4er</h3>
                <p class="introduction">
                    文能吹牛比，武能喝啤酒。
                </p>
            </div>
        </div>
    </div>
</div>

{#底部#}
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h4 class="title">关于我们</h4>
                <ul class="footer-list">
                    <li>django+bootstrap自写</li>
                    <li>主要用于技术交流</li>
                    <li>Power By ChaBug</li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h4 class="title">版权声明</h4>
                <ul class="footer-list">
                    <li>本站所有资源不得进行任何非法用途.</li>
                    <li>ChaBug及所属成员对此概不负责任何法律责任.</li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h4 class="title">友情链接</h4>
                <ul class="footer-list">
                    <li><a href="http://www.chabug.org">ChaBug安全</a></li>
                    <li><a href="https://jq.qq.com/?_wv=1027&k=5MOaG3O">官方交流群</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="copyright">
            <p>Welcome!</p>
        </div>
    </div>
</footer>
</body>
</html>